* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
}
.warp {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(3, 170px);
	grid-template-columns: repeat(3, 33.33%);
	gap: 10px 10px;
	.item {
		cursor: pointer;
		border: 1px dashed #ccc;
		.content{
			width: 100%;
			height: 100%;
		}
	}
}
/*
	1.融合效果
		filter: contrast 的父容器必须设置背景
		blur设置图像的模糊程度，contrast设置图像的对比度
 */
.item-1 {
	grid-column-start: 1;
	grid-column-end: 4;
	.container {
		margin: 0px auto;
		height: 165px;
		width: 100%;
		background: #fff; //给融合元素的父元素设置背景色
		display: flex;
		align-items: center;
		justify-content: center;
		filter: contrast(30); //给融合元素的父元素设置contrast
		.circle {
			border-radius: 50%;
			position: absolute;
			filter: blur(10px); //给融合元素设置blur
		}
		.circle-1 {
			height: 90px;
			width: 90px;
			background: #03a9f4;
			transform: translate(-50px);
			animation: 2s moving linear infinite alternate-reverse;
		}
		.circle-2 {
			height: 60px;
			width: 60px;
			background: #0000ff;
			transform: translate(50px);
			animation: 2s moving linear infinite alternate;
		}
	}
}

.item-2 {
	grid-column-start: 1;
	grid-column-end: 2;
	.container {
		margin: 10px auto;
		height: 140px;
		width: 100%;
		background: #fff; //父元素设置背景色
		display: flex;
		align-items: center;
		filter: contrast(30); //父元素设置contrast
	}
	.circle {
		height: 50px;
		width: 60px;
		background: #1aa7ff;
		border-radius: 50%;
		position: absolute;
		filter: blur(20px); //子元素设置blur
		transform: scale(0.1);
		transform-origin: left top;
	}
	.circle {
		// animation: move 4s cubic-bezier(0.44, 0.79, 0.83, 0.96) infinite;
		animation: move 4s linear infinite;
	}
	.circle:nth-child(2) {
		animation-delay: 0.4s;
	}
	.circle:nth-child(3) {
		animation-delay: 0.8s;
	}
	.circle:nth-child(4) {
		animation-delay: 1.2s;
	}
	.circle:nth-child(5) {
		animation-delay: 1.6s;
	}
}

.item-3{
	.container{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgb(0, 0, 0);
		filter: contrast(30);
		.text{
			font-size:50px;
			font-weight: bold;
			filter: blur(10px);
			// transform: rotateX(90deg);
			letter-spacing: -30px;
			color: #fff;
			animation: move-letter 4s linear forwards;
		}
	}
}
@keyframes moving {
	//两个元素的移动
	0% {
		transform: translate(50px);
	}
	100% {
		transform: translate(-50px);
	}
}
@keyframes move {
	//子元素的位移和尺寸动画
	0% {
		transform: translateX(10px) scale(0.3);
	}
	45% {
		transform: translateX(135px) scale(0.8);
	}
	85% {
		transform: translateX(270px) scale(0.1);
	}
}

@keyframes move-letter {
	0%{
		filter: blur(10px);
		letter-spacing:-25px;
	}
	40%{
		filter: blur(6px);
		letter-spacing:-10px;
	}
	85%{
		filter: blur(3px);
		letter-spacing:0px;
	}
	100%{
		filter: blur(2px);
		letter-spacing:6px;
	}
}
