*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #000;
	display: flex;
	flex-direction: column;
}


canvas {
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
}

audio{
	margin:0 auto;
}
