* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}
/* 容器 */
.container {
	height: 100%;
	background-color: #f00;
}
.container .inner {
	background-color: #f00;
}
