* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
}
li{
	list-style: none;
}
.CellTitle{
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding:0 10px;
	border-bottom: 1px solid #e2e2e2;
	font-weight: bold;
	border-left: 5px solid blue;
}
.CellWarp{
	display: flex;
	flex-wrap: wrap;

}
.CellWarp .item{
	width: 33.333%;
	height: 200px;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}
.CellWarp .item:nth-child(2n){
	background: #fcfcfc
}
.CellWarp .item .title{
	display: block;
	width: 100%;
	font-size: 1px;
	font-weight: bold;
	color:#333;
	padding: 10px;
}
.CellWarp .item .list{
	font-size: 13px;
	height: 160px;
	color:#777;
	padding:0 10px 10px;
	overflow: auto;
}