@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.warp {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 170px);
  grid-template-columns: repeat(3, 33.33%);
  gap: 10px 10px;
}
.warp .item {
  cursor: pointer;
  border: 1px dashed #ccc;
}
.warp .item .content {
  width: 100%;
  height: 100%;
}

/*
	1.融合效果
		filter: contrast 的父容器必须设置背景
		blur设置图像的模糊程度，contrast设置图像的对比度
 */
.item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.item-1 .container {
  margin: 0px auto;
  height: 165px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: contrast(30);
          filter: contrast(30);
}
.item-1 .container .circle {
  border-radius: 50%;
  position: absolute;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.item-1 .container .circle-1 {
  height: 90px;
  width: 90px;
  background: #03a9f4;
  -webkit-transform: translate(-50px);
      -ms-transform: translate(-50px);
          transform: translate(-50px);
  animation: 2s moving linear infinite alternate-reverse;
}
.item-1 .container .circle-2 {
  height: 60px;
  width: 60px;
  background: #0000ff;
  -webkit-transform: translate(50px);
      -ms-transform: translate(50px);
          transform: translate(50px);
  -webkit-animation: 2s moving linear infinite alternate;
          animation: 2s moving linear infinite alternate;
}

.item-2 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.item-2 .container {
  margin: 10px auto;
  height: 140px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: contrast(30);
          filter: contrast(30);
}
.item-2 .circle {
  height: 50px;
  width: 60px;
  background: #1aa7ff;
  border-radius: 50%;
  position: absolute;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}
.item-2 .circle {
  -webkit-animation: move 4s linear infinite;
          animation: move 4s linear infinite;
}
.item-2 .circle:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.item-2 .circle:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.item-2 .circle:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.item-2 .circle:nth-child(5) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.item-3 .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(0, 0, 0);
  -webkit-filter: contrast(30);
          filter: contrast(30);
}
.item-3 .container .text {
  font-size: 50px;
  font-weight: bold;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  letter-spacing: -30px;
  color: #fff;
  -webkit-animation: move-letter 4s linear forwards;
          animation: move-letter 4s linear forwards;
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  100% {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
}

@keyframes moving {
  0% {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  100% {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(10px) scale(0.3);
            transform: translateX(10px) scale(0.3);
  }
  45% {
    -webkit-transform: translateX(135px) scale(0.8);
            transform: translateX(135px) scale(0.8);
  }
  85% {
    -webkit-transform: translateX(270px) scale(0.1);
            transform: translateX(270px) scale(0.1);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(10px) scale(0.3);
            transform: translateX(10px) scale(0.3);
  }
  45% {
    -webkit-transform: translateX(135px) scale(0.8);
            transform: translateX(135px) scale(0.8);
  }
  85% {
    -webkit-transform: translateX(270px) scale(0.1);
            transform: translateX(270px) scale(0.1);
  }
}
@-webkit-keyframes move-letter {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    letter-spacing: -25px;
  }
  40% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    letter-spacing: -10px;
  }
  85% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    letter-spacing: 0px;
  }
  100% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    letter-spacing: 6px;
  }
}
@keyframes move-letter {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    letter-spacing: -25px;
  }
  40% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    letter-spacing: -10px;
  }
  85% {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    letter-spacing: 0px;
  }
  100% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    letter-spacing: 6px;
  }
}/*# sourceMappingURL=filters.css.map */